code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  background-color: #282a36;
  border-radius: 0.3em;
  margin: 1em 0;
  overflow: auto;
}
code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
