/* h2 {
    text-align: center;
    margin: 100px 0 135px 0;
} */

p {
    color: rgb(20, 19, 19);
}

blockquote {
    background-color: hsl(216deg 100% 98%);
    border-left: 5px solid hsl(215deg 100% 84%);
    border-radius: 0 8px 8px 0;
    margin: 32px 0px;
    padding: 24px 16px;
    color: hsl(60deg 100% 100%);
    font-style: italic;
}
